/* 基本的な要素 */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
}


/* よく使うスタイル */
.container {
  width: 900px;
  padding: 0 10px;
  margin: 0 auto;
}


/* Header */
header {
  background-color: skyblue;
  height: 50px;
}
header .logo {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-family: fantasy;
}
header .global-nav {
  float: right;
  display: flex;
}
header .global-nav li {
  width: 100px;
  height: 50px;
  list-style: none;
}
header .global-nav li a {
  display: block;
  font-size: 16px;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
header .global-nav li a:hover {
  background-color: #90dfff;
}
header .menu-bars {
  float: right;
  margin-right: 30px;
  color: white;
  font-size: 25px;
  line-height: 50px;
  opacity: 0.8;
  display: none;
}
header .menu-bars:hover {
  opacity: 1;
}
header .menu-bars:active {
  transform: scale(0.9);
}


/* global-nav in the menu-bar */
.bars-global-nav {
  display: none;
}
.bars-global-nav li {
  list-style: none;
}
.bars-global-nav li a {
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-top: 1px solid white;
  background-color: skyblue;
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
}

.bars-global-nav li:hover {
  opacity: 0.8;
}

/* Media Query */
@media (max-width: 900px){
  .container {
    width: 100%;
  }
}
@media (max-width: 640px){
  .container {
    width: 100%;
  }
  header .global-nav {
    display: none;
  }
  header .menu-bars {
    display: block;
  }
}